@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Home{
    position: relative;
    min-height: 100vh;
    background-color: #17202a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
    font-size: 22px;
    opacity: 0;
    animation: to_bottom 1s ease forwards;
}
header nav a{
    font-size: 24px;
    margin-left: 75px;
    color: white;
    transition: .3s;
}
header nav .active,
header nav a:hover{
    color: #00ccff;
}
.text-box{
    width: 50%;
}
.text-box h1{
    color: #00ccff;
    font-size: 82px;
    animation: to_right 1s ease forwards .9s;
}
.text-box h1:nth-child(2){
    color: white;
    font-size: 62px;
    animation-delay: 1.1s;
}
.text-box p{
    margin: 40px 0;
    font-size: 22px;
    width: 70%;
    color: #979797;
    animation: to_right 1s ease forwards 1.3s;
}
.btn-box{
    display: flex;
    gap: 20px;
}
.btn{
    position: relative;
    color: white;
    padding: 12px 30px;
    font-size: 22px;
    border: 2px solid #00ccff;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: .3s;
    animation: to_right 1s ease forwards 1.5s;
}
.btn:hover,
.btn:nth-child(2){
    color: black;
    background-color: #00ccff;
    box-shadow: 0 0 15px #00ccff;
}
.btn:nth-child(2):hover{
    color: white;
    background: transparent;
    box-shadow: none;
}
.Home img{
    position: absolute;
    right: 0;
    height: 100%;
    pointer-events: none;
}
.text-box *{
    opacity: 0;
}
.text-box span{
    opacity: 1;
}
/* keyframes */
@keyframes to_bottom {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes to_right {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes lamp {
    0%{
        opacity: 0;
        transform: scale(.4);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.lamp{
    opacity: 0;
    transform: scale(.4);
    animation: lamp 1s ease forwards;
}
@keyframes person {
    0%{
        opacity: 0;
        transform: translate(-15%,-9%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.person{
    opacity: 0;
    transform: translate(-15%,-9%);
    animation: person 1.5s ease forwards .4s;
}
@keyframes person-2 {
    0%{
        opacity: 0;
        transform: translate(15%,10%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.person-2{
    opacity: 0;
    transform: translate(15%,10%);
    animation: person-2 1.5s ease forwards .4s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.objects,
.light{
    opacity: 0;
    animation: fade 1s ease forwards 1.55s;
}